<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">

	<title>Smooth loading json list</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="css/main.min.css">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

<header class="header">
	<h1>header</h1>
</header>

<section class="main">

	<div class="loading"></div>
	<ul class="list list_loading" id="app">

		<li class="list__item" v-for="item in items" v-if="item.show" transition="opacity">
			<a href="#" class="list__item__link clearfix">
				<span class="list__item__image"><img src="{{ item.Logo }}" alt=""></span>
				<span class="list__item__content clearfix">
					<h3 class="list__item__title">{{ item.Name }}</h3>
					<span class="list__item__type">{{ item.Cuisines.split(' / ').join(', ') }}</span>
					<span class="list__item__time"><span class="list__item__time__value">{{ item.WorkingTime }}</span></span>
					<span class="list__item__rating list__item__rating_{{ item.PositiveReviewsPercent > 50 ? 'positive' : 'negative' }}">
						<i class="fa fa-thumbs-{{ item.PositiveReviewsPercent > 50 ? 'up' : 'down' }}"></i>{{ item.PositiveReviewsPercent }}%
					</span>
				</span>
				<span class="list__item__info">
					<span class="list__item__info__item list__item__info__item_price">
						<i class="fa fa-shopping-bag"></i>От <span class="list__item__info__value">{{ item.MinCost }} ₽</span>
						<span class="list__item__info__note">мин сумма заказа</span>
					</span>
					<span class="list__item__info__item list__item__info__item_delivery">
						<i class="fa fa-car"></i>
						<span class="list__item__info__value">{{ item.DeliveryCost }} ₽</span>
						<span class="list__item__info__note">стоимость доставки</span>
					</span>
					<span class="list__item__info__item list__item__info__item_delivery-time">
						<i class="fa fa-clock-o"></i>
						<span class="list__item__info__value">{{ item.DeliveryTime }}</span>
						<span class="list__item__info__note">среднее время доставки</span>
					</span>
				</span>
				<span v-if="item.IsNew || item.HasSails || item.HasPaymentForPoints" class="list__item__label list__item__label_{{ item.IsNew ? 'new' : ( item.HasSails ? 'sails' : ( item.HasPaymentForPoints ? 'points' : '' ) ) }}">
					<span>{{ item.IsNew ? 'новый' : ( item.HasSails ? 'акция' : ( item.HasPaymentForPoints ? 'баллы' : '' ) ) }}<span>
				</span>
			</a>
		</li>

	</ul>

</section>

<footer class="footer">footer</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
<script src="js/scripts.min.js"></script>

</body>
</html>
